body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #ffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content {
  padding: 100px 90px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 10px 0;
}
/* abaut me */
.about-me {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 20px 0;
  color: #000;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 25px 0;
  color: #000;
}
.about-me-info {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* my projects */
.my-projects .my-projects-list {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  padding: 0 0 0 17px;
  margin: 0 0 50px 0;
}
.my-projects-item {
  color: #000;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* my work */
.my-work-company {
  color: #fb6d3a;
}
.my-work-position {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-period,
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-period-tab,
.my-education-tab {
  color: #000;
}
.my-work-period-duties {
  padding: 0 0 0 17px;
  margin: 0 0 10px 0;
}
.my-work-period-duties-items {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company {
  margin: 0 0 15px 0;
}
/* my-education */
.my-education {
  margin: 45px 0 0 0;
}
.my-education-univer {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
  color: #fb6d3a;
}
.my-education-direction {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
/* saidebar */
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contacts,
.tech-skills {
  margin: 50px 0 0 40px;
}
.soft-skills {
  margin: 40px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin: 10px 0 10px 0;
}
/* contacts */
.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}
.contacts-link-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #565e6a;
}
.contacts-link-email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}
/* tech-soft-skills */
.tech-soft-skills-list {
  padding: 0 0 0 17px;
}
.tech-soft-skills-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}
.tech-soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
